$main: #fff;
$sub: #1e1e1e;
$main: #efeee7;
$main: #f1f1ef;
$sub: #232323;

$sans: "Alliance2", sans-serif;
$sans1: "Alliance1", sans-serif;
$sanslgt: "Alliance2 Light", sans-serif;
$sansmed: "Alliance2 Medium", sans-serif;
$sans1lgt: "Alliance1 Light", sans-serif;
$sans1med: "Alliance1 Medium", sans-serif;

$z-indexes: ("modal-loader", "modal", "modal-overlay", "base");
