@font-face {
  font-family: "Alliance1 Light";
  src: url("AllianceNo1-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance1";
  src: url("AllianceNo1-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alliance1 Medium";
  src: url("AllianceNo1-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance2 Light";
  src: url("AllianceNo2-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance2";
  src: url("AllianceNo2-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance2 Medium";
  src: url("AllianceNo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
