.animated-lines {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  &__row {
    height: calc(100% / 10);
    flex-direction: row;
    justify-content: space-between;
    &-item {
      width: 1px;
      height: 100%;
      opacity: 0.9;
      background: $sub;
      transform-origin: center;
    }
  }
}
