.empty-state-container {
  flex: 1;
  gap: 12px;
  width: 100%;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
  align-items: center;
  min-height: 60vh;
  padding: 70px 24px calc(min(8%, 24px));
  font-family: $sans1med;
  flex-direction: column;
  // justify-content: center;
  @include phone {
    font-size: 15px;
  }
  svg {
    width: 180px;
    margin-bottom: 10px;
    height: max-content;
  }

  p {
    color: rgba($color: $sub, $alpha: 0.5);
  }
}
